<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Registration</h2>
<form action="" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter username"><br>
    <input type="text" name="first_name" placeholder="Enter Firstname"><br>
    <input type="text" name="last_name" placeholder="Enter Lastname"><br>
    <input type="email" name="email" placeholder="Enter email"><br>
    <input type="password" name="password" placeholder="Enter password"><br>
    <input type="password" name="confirm_password" placeholder="Confirm password"><br>
    <input type="submit">
</form>
{% for msg in messages %}
{{msg}}
{% endfor %}
</body>
</html>